# Virtual environment
venv/
ENV/
env/
# Environment variables
.env
# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Django specific
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.mo

# OS files
.DS_Store
Thumbs.db
